.titulo {
  text-align: center;
  margin: 0 auto;
}

#seleccionar-mascota {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.tarjeta-de-mokepon {
  background-color: aquamarine;
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

input {
  display: none;
}