@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #041562;
}

.titulo {
  font-family: 'Fredoke One', cursive;
  text-align: center;
  margin: 30px auto;
  width: 340px;
  height: 50px;
  color: white;
}

#seleccionar-mascota {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjeta, .tarjetas-ataques {
  display: flex;
  gap: 5px;
}

.tarjeta-de-mokepon {
  background-color: #11468F;
  height: 228px;
  width: 160px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tarjeta-de-mokepon img {
  width: 140px;
}

input {
  display: none;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border: 1px solid white;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-family: inherit;
  margin-top: 30px;
}

/* ESTILOS PARA LA SECCION DE MENSAJES Y REINICIO */
#seleccionar-ataque {
  /*display:flex incrustado por JS (linea 68)*/
  flex-direction: column;
  align-items: center;
}

.boton-ataque {
  padding: 10px;
  border-radius: 20px;
  border-color: transparent;
  width: 200px;
  background-color: #11468F;
  color: white;
  font-family: inherit;
}

#mensajes {
  background-color: #eee;
  width: 280px;
  height: 70px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#mensajes p {
  margin: 0px;
}

#boton-reiniciar {
  border-color: transparent;
  color: #11468F;
  font-family: inherit;
}

/*ESTILOS PARA LA SECCION DE VIDAS E HISTORIAL DE ATAQUES*/
.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  color: white;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*DISEÑO RESPONSIVO*/
@media (max-width: 600px) {
  .tarjeta, .tarjetas-ataques {
    flex-direction: column;
    gap: 5px;
  }

  .tarjeta-de-mokepon {
    flex-direction: row;
    width: auto;
    height: auto;
  }
}